/.idea/.gitignore
/.idea/AppAndroidClubDeportivoG10.iml
/.idea/libraries/Maven__org_jetbrains_kotlin_kotlin_script_runtime_1_9_0.xml
/.idea/libraries/Maven__org_jetbrains_kotlin_kotlin_script_runtime_1_9_01.xml
/.idea/modules.xml
/.idea/vcs.xml
